/*CSS reset*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

}

/*google fonts*/
body {
	background: none;
	font-family: 'open+sans',sans-serif;
}


/*nav bar*/
nav {
	padding:  0.8rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
}

nav .nav, nav .nav-logo {
	margin: 0.5rem;
	display: inline;
}


/*Intro Section1*/

#intro {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;

	text-align: center;
}
.header {
	text-align: center;
}

#intro h2, #intro p {
	margin-bottom: 1rem;
}

#intro button {
	color: white;
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;

}


/*Succeed Section*/


#succeed-info {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;

}

#succeed-info h2 {
	margin-bottom: 1rem;
}
#succeed-info h3 {
	text-align: center;
	margin-bottom: 1rem;
}

#succeed-info .card {
	display: inline-block;
	vertical-align: top;
	min-height: 175px;
	width: 30%;
	margin-left: 0.5rem;
	margin-right: 0.5;

}

/*footer*/
footer {
	color: blue;

}
footer span {
	margin-right: 1rem;
	margin-left: 1rem;
	
}


/*pre-footer*/
#pre-footer { 
	background-color: #002540;
	color: white;
}


#pre-footer h3 {
	padding-top: 0.5rem;
	margin-bottom: 0.5rem;



}
#pre-footer .footercard {
	display: inline-block;
	min-height: 110px;
	width: 20%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}



.footercard p {
	line-height: 30px;

}